{% extends 'base.html' %}


{% block title %}
Login page
        {% endblock %}
{% block content %}


<div class="col-sm-10">
    <h3 class="text-dark mt-5">Login Form</h3>
    
    <small class="text-muted">Dont have an account? Please Signup</small>
    <a href="/signup/" class="btn btn-dark">Signup</a>

    <center><form class="container ml-5" action="" method="POST" novalidate>
        {% csrf_token %}
        {% for fm in form %}
        <div class="form-group col-md-4">
{{fm.label_tag}}
{{fm}}
<small class="text-warning">
    {{fm.errors|striptags}}


</small>


        </div>
        {% endfor %}

        <input type="submit" class="btn btn-dark mb-3" value="SUBMIT" name="" id="">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="alert alert-danger mt-3">{{error}}</p>
            {% endfor %}
            {% endif %}
    
    
    
    
    </form></center>
</div>
{% endblock %}