{% extends 'base.html' %}
{% block title %}
Signup page
{% endblock %}

{% block content %}
<div col-sm-10>
    
    <h3 class="text-dark ml-2 mt-5" >Signup Form</h3>
    <small class="text-muted ml-2">Already have an account? Please Login</small>
    <a href="/login/" class="btn btn-dark">Login</a>

<center><form class="container ml-5" action="/signup/" method="POST" novalidate>
    
    {% csrf_token %}
    {% for fm in form %}
    <div class="form-group col-md-4">
    {{fm.label_tag}}
    {{fm}}
    <small class="text-warning">
        {{fm.errors|striptags}}</small>
</div>
    {% endfor %}

    <input type="submit" class="btn btn-dark mb-3" value="SUBMIT" name="" id="">
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger mt-3">{{error}}</p>
        {% endfor %}
        {% endif %}


</form></center>
</div>
</div>
{% endblock %}